<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>FLASK BLOG - {{ title }}</title>
    {% else %}
        <title>FLASK BLOG</title>
    {% endif %}
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }} p-4 mb-4 rounded bg-surface-container border border-outline-variant text-body-md">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %} {% block content %}
    {% endblock %}

</body>
</html>